@font-face 
{
    font-family: ubuntu-regular;
    src:url("/style/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face 
{
    font-family: ubuntu-bold;
    src:url("/style/fonts/Ubuntu/Ubuntu-Bold.ttf");
}

@font-face 
{
    font-family: ubuntu-italic;
    src:url("/style/fonts/Ubuntu/Ubuntu-Italic.ttf");
}

body { font-family: ubuntu-regular }
p { font-family: ubuntu-regular }
h1 { font-family: ubuntu-bold }
h2 { font-family: ubuntu-bold }
h3 { font-family: ubuntu-bold }
h4 { font-family: ubuntu-bold }
h5 { font-family: ubuntu-bold }
a { font-family: ubuntu-regular }
b { font-family: ubuntu-bold }
u { font-family: ubuntu-regular }

.small {
    font-family: ubuntu-regular;
    font-size: small;
}