.grid {
    margin-left: 3%;   
    margin-right: 3%;  
    display: grid;
    margin-top: 40px;
}

.grid {
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Adjust min-width as needed */
gap: 5px;
}

/* For smaller screens */
@media only screen and (max-width: 768px) {
.grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Adjust min-width for smaller screens */
    gap: 5px;
}
}

.entry {
    border: 5px;
    border-radius: 8px;
    border-color: rgba(245, 245, 245, 0.16);
    border-style: solid;
    width: 95%;
    text-align: center;
    background-color: #1b1b1b73;
    margin-bottom: 14px;
    font-size: larger;
}

.entry a {
    color: darkcyan;
}

.entry a:hover {
    text-decoration: underline;
    color: rgb(0, 166, 166);
}