body {
    align-content: center;
    zoom: 1.4;
}

.legal a {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.15%;
    margin-bottom: 0.6%;
    margin-right: 0.6%;
    font-size: x-small;
    color: gray;
    text-decoration: none;
}

.center {
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5%;
}

.links {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    gap: 40px 20px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.link {
    border: 8px;
    border-color: #454141;
    background-color: #292828;
    border-style: solid;
    border-radius: 5%;
    width: 80%;
}

.link a {
    color: whitesmoke;
    text-decoration: none;
    font-size: larger;
}

a:hover {
    text-decoration: underline;
}